//colors
$clr_red:#D41B27;
$clr_black:#000;
$clr_white:#fff;
$clr_green:#367817;
$clr_red_dark:#ff0000;

//font-family
$poppins:'Poppins',sans-serif;

//font-weight
$font_light:200;
$font_extra-light:300;
$font_normal:400;
$font_medium:500;
$font_semi-bold:600;
$font_bold:700;

//borders
$border-radius:1.2rem;
$button-radius:0.2rem;




